[Desktop Entry]
Encoding=UTF-8
Icon=audio-x-mid
Type=Service
ServiceTypes=KPluginInfo

Name=SF2 SoundFont
Comment=Structure for SoundFont insrtument files

X-KDE-PluginInfo-Author=Tibor Nagy
X-KDE-PluginInfo-Email=xnagytibor@gmail.com
X-KDE-PluginInfo-Name=sf2_soundfont
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://github.com/xtibor/okteta_structures
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
