[Desktop Entry]
Encoding=UTF-8
Icon=application-x-executable
Type=Service
ServiceTypes=KPluginInfo

Name=Virtual Boy ROM
Comment=Structure for Nintendo Virtual Boy cartridge ROM files (VB)

X-KDE-PluginInfo-Author=Tibor Nagy
X-KDE-PluginInfo-Email=xnagytibor@gmail.com
X-KDE-PluginInfo-Name=virtual_boy_rom
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://github.com/xtibor/okteta_structures
X-KDE-PluginInfo-Category=structure/js
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
